.child-details {
  display: grid;
  grid-template-columns: auto auto 250px;
  padding: 60px 140px;

  &__img {
    margin-left: 133px;
  }

  &__details {
    padding: 20px 120px;
    display: flex;
  }

  &__robot {
    object-fit: contain;
    justify-self: right;
    margin-top: 40px;
    width: 230px;
  }

  &__task {
    position: relative;
    margin-left: 40px;
    width: 620px;
    border-radius: 15px;
    background-color: #15384c;
    padding: 10px 20px;

    .title {
      margin-left: 0;
      margin-bottom: 0;
    }

    .text--secondary {
      color: #607d8b;
      font-size: 22px;
      margin-top: 5px;
    }

    &-currency {
      position: absolute;
      right: 10px;
      top: 10px;

      .text {
        color: #1c8b98;
        font-size: 14px;
      }

      .donut {
        max-width: fit-content;
        margin-top: 10px;
        margin-left: 60px;
      }

      .donut__img {
        width: 24px;
      }

      .donut__text {
          color: #fff;
          font-size: 20px;
      }
    }

    &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0f1c26;
        border-radius: 15px;
        padding: 20px;

        margin-top: 15px;

        .text {
            margin: 10px 0;
            font-size: 18px;
        }

        .text--secondary {
            color: #1c8b98;
            font-size: 14px;
        }

        .donut {
            max-width: fit-content;
            margin-top: 30px;
            margin-left: 20px;
          }
    
          .donut__img {
            width: 24px;
          }
    
          .donut__text {
              color: #fff;
              font-size: 20px;
          }
    }
  }

  .child-box {
    background: transparent;
    font-size: 18px;
    min-width: fit-content;
    &__avatar-img {
      display: none;
    }
    &__data {
      display: flex;
    }

    &__title {
      margin-top: 0;
      margin-right: 70px;
    }

    &__name {
      display: block;
      margin: 0 0 10px 0;
    }

    &__age {
      color: #6f777d;
    }

    &__film-img {
      width: 130px;
      height: 207px;
      margin-right: 20px;
    }

    &__average {
      margin-bottom: 20px;

      .text--field {
        margin-right: 40px;
      }
    }
  }

  .donut {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    margin-top: 70px;

    &__text {
      color: #fff;
      font-size: 40px;
      margin-top: 15px;
    }
  }
}


.btn--secondary {
    color: #1c8b98;
    background-color: transparent;
    border-color:#1c8b98;
    margin-top: 0;
    margin-left: 35px;
    height: 40px;
    line-height: initial;
}